<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js"
      defer
    ></script>
    <script src="/socket.io/socket.io.js"></script>
  
    <style>
      @import url(https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.min.css);

      .active\:bg-gray-50:active {
        --tw-bg-opacity: 1;
        background-color: rgba(249, 250, 251, var(--tw-bg-opacity));
      }
    </style>
  </head>
  <body class="bg-[#202020]">
    <div class="main w-full flex items-center justify-center">
      <div
        class="relative w-96 z-20 h-full bg-[#202020] transition-all duration-200 overflow-hidden p-5 py-10"
      >
        <ul class="w-full h-full">
          <li
            class="relative w-4/5 list-none rounded-r-3xl rounded-l-3xl transition-all duration-200 pl-2 mb-2 hover:bg-[#1c1c1c]"
          >
            <a
              class="relative block w-full flex items-center text-decoration-none text-gray-400 font-bold"
              href="#"
            >
              <span
                class="w-16 h-16 flex items-center justify-center text-gray-400"
              >
                <ion-icon name="person-outline" class="text-2xl"></ion-icon>
              </span>
              <span class="ml-4"> <%= username %></span>
            </a>
          </li>

          <li
            class="relative w-4/5 list-none rounded-r-3xl rounded-l-3xl transition-all duration-200 pl-2 mb-2 hover:bg-[#1c1c1c]"
          >
            <a
              class="relative block w-full flex items-center text-decoration-none text-gray-400 font-bold"
              href="/get-started"
            >
              <span
                class="w-16 h-16 flex items-center justify-center text-gray-400"
              >
                <ion-icon name="power" class="text-2xl"></ion-icon>
              </span>
              <span class="ml-4">Get Started</span>
            </a>
            
          </li>
          <li
            class="relative w-4/5 list-none rounded-r-3xl rounded-l-3xl transition-all duration-200 pl-2 mb-2 hover:bg-[#1c1c1c]"
          >
            <a
              class="relative block w-full flex items-center text-decoration-none text-gray-400 font-bold"
              href="/home"
            >
              <span
                class="w-16 h-16 flex items-center justify-center text-gray-400"
              >
                <ion-icon name="home-outline" class="text-2xl"></ion-icon>
              </span>
              <span class="ml-4">Home</span>
            </a>
          </li>

          <li
            class="relative w-4/5 list-none rounded-r-3xl rounded-l-3xl transition-all duration-200 pl-2 mb-20 hover:bg-[#1c1c1c]"
          >
            <a
              class="relative block w-full flex items-center text-decoration-none text-gray-400 font-bold"
              href="#"
            >
              <span
                class="w-16 h-16 flex items-center justify-center text-gray-400"
              >
                <ion-icon name="people-outline" class="text-2xl"></ion-icon>
              </span>
              <span class="ml-4">Workspace</span>
            </a>
          </li>
          <span
            class="ml-4 text-center w-full relative block w-full flex items-center text-decoration-none text-gray-400 font-bold"
            >Your Workspaces.</span
          >
          <li
            class="relative w-4/5 list-none rounded-r-3xl rounded-l-3xl transition-all duration-200 pl-2 mb-2 hover:bg-[#1c1c1c]"
          ></li>
          <ul>
            <% workspace %>
            <li
              class="relative w-4/5 list-none rounded-r-3xl rounded-l-3xl transition-all duration-200 pl-2 mb-2 hover:bg-[#1c1c1c]"
            >
              <a
                class="relative block w-full flex items-center text-decoration-none text-gray-400 font-semibold"
                href="/workspace/<%= workspace.workspaceName %>/<%= username %>"
              >
                <span
                  class="w-16 h-16 flex items-center justify-center text-gray-400"
                >
                  <ion-icon name="document-outline" class="text-xl"></ion-icon>
                </span>
                <span class="ml-4"><%= workspace.workspaceName %></span>
              </a>
            </li>
            <% %>
          </ul>

          <li
            class="relative w-4/5 list-none rounded-r-3xl rounded-l-3xl transition-all duration-200 pl-2 mb-2 hover:bg-[#1c1c1c]"
          >
            <a
              class="relative block w-full flex items-center text-decoration-none text-gray-400 font-sembold"
              href="#"
            >
              <span
                class="w-16 h-16 flex items-center justify-center text-gray-400"
              >
                <ion-icon name="settings-outline" class="text-xl"></ion-icon>
              </span>
              <span class="ml-4">Settings</span>
            </a>
          </li>
        </ul>
      </div>
      <div
        class="content relative z-10 w-full h-screen bg-[#191919] flex flex-col items-center justify-center"
      >
        <div
          class="relative p-4 py-20 flex flex-col items-center justify-center w-full"
        >
          <h1 class="mt-20 text-4xl md:text-5xl font-bold text-[#d3d3d3] mb-6">
            <%= workspaceName %>
          </h1>
          <div>
            <button
              id="openDialogBtn"
              class="relative z-40 bg-[#2a2a2a] hover:bg-[#1c1c1c] text-[#d3d3d3] font-semibold py-3 px-6 rounded-full transition-colors duration-300"
            >
              Invite Users
            </button>
            <div
              id="dialog"
              class="dialog hidden w-96 h-screen rounded-3xl absolute top-12 -right-[15%] bg-[#2f2f2f] -translate-x-1/2 z-50"
            >
              <div class="dialog-content p-8 shadow-lg">
                <h1 class="text-4xl md:text-2xl font-bold text-[#d3d3d3] mb-6">
                  Invite members
                </h1>
                <form
                  id="inviteForm"
                  action="/workspace/<%= workspaceName %>/<%= username %>"
                  method="POST"
                >
                  <label
                    class="m-5 text-sm md:text-md font-bold text-[#d3d3d3] mb-6"
                    for="invitemem"
                    >Enter email of user to invite</label
                  >
                  <input
                    required
                    class="w-full p-2 mb-4 border border-[#141414] rounded bg-[#2c2c2c] text-white"
                    type="email"
                    name="email"
                    placeholder="email@xyz.com"
                  />
                  <button
                    class="relative z-40 bg-[#2a2a2a] hover:bg-[#0f0f0f] text-[#d3d3d3] font-semibold py-3 px-6 rounded-full transition-colors duration-300"
                    type="submit"
                    name="submit"
                  >
                    Invite
                  </button>
                </form>
              </div>
              <h1
                class="text-center m-5 text-4xl md:text-2xl font-bold text-[#d3d3d3] mb-6"
              >
                Exisiting members
              </h1>

              <% if (workspace.inviteMembers && workspace.inviteMembers.length >
              0) { %>
              <h2>Invited Members:</h2>
              <ul>
                <% workspace.inviteMembers.forEach(function(member) { %>
                <li><%= member %></li>
                <% }); %>
              </ul>
              <% } else { %>
              <p>No members have been invited yet.</p>
              <% } %>
            </div>
          </div>
          <div class="w-full h-fit flex items-center justify-center">
            <div
              class="w-full max-w-screen h-fit mx-auto rounded-xl bg-[#171717] shadow-lg p-5 text-white"
              x-data="app()"
              x-init="init($refs.wysiwyg)"
            >
              <div class="border border-[#3c3c3c] overflow-hidden rounded-md">
                <div
                  class="w-full flex border-b border-[#202020] text-xl text-gray-600"
                >
                  <button
                    class="outline-none focus:outline-none border-r border-[#202020] w-10 h-10 hover:text-indigo-500 active:bg-gray-50"
                    @click="format('bold')"
                  >
                    <i class="mdi mdi-format-bold"></i>
                  </button>
                  <button
                    class="outline-none focus:outline-none border-r border-[#303030] w-10 h-10 hover:text-indigo-500 active:bg-gray-50"
                    @click="format('italic')"
                  >
                    <i class="mdi mdi-format-italic"></i>
                  </button>
                  <button
                    class="outline-none focus:outline-none border-r border-[#303030] w-10 h-10 mr-1 hover:text-indigo-500 active:bg-gray-50"
                    @click="format('underline')"
                  >
                    <i class="mdi mdi-format-underline"></i>
                  </button>
                  <button
                    class="outline-none focus:outline-none border-l border-r border-[#303030] w-10 h-10 hover:text-indigo-500 active:bg-gray-50"
                    @click="format('formatBlock','P')"
                  >
                    <i class="mdi mdi-format-paragraph"></i>
                  </button>
                  <button
                    class="outline-none focus:outline-none border-r border-[#303030] w-10 h-10 hover:text-indigo-500 active:bg-gray-50"
                    @click="format('formatBlock','H1')"
                  >
                    <i class="mdi mdi-format-header-1"></i>
                  </button>
                  <button
                    class="outline-none focus:outline-none border-r border-[#303030] w-10 h-10 hover:text-indigo-500 active:bg-gray-50"
                    @click="format('formatBlock','H2')"
                  >
                    <i class="mdi mdi-format-header-2"></i>
                  </button>
                  <button
                    class="outline-none focus:outline-none border-r border-[#303030] w-10 h-10 mr-1 hover:text-indigo-500 active:bg-gray-50"
                    @click="format('formatBlock','H3')"
                  >
                    <i class="mdi mdi-format-header-3"></i>
                  </button>
                  <button
                    class="outline-none focus:outline-none border-l border-r border-[#303030] w-10 h-10 hover:text-indigo-500 active:bg-gray-50"
                    @click="format('insertUnorderedList')"
                  >
                    <i class="mdi mdi-format-list-bulleted"></i>
                  </button>
                  <button
                    class="outline-none focus:outline-none border-r border-[#303030] w-10 h-10 mr-1 hover:text-indigo-500 active:bg-gray-50"
                    @click="format('insertOrderedList')"
                  >
                    <i class="mdi mdi-format-list-numbered"></i>
                  </button>
                  <button
                    class="outline-none focus:outline-none border-l border-r border-[#303030] w-10 h-10 hover:text-indigo-500 active:bg-gray-50"
                    @click="format('justifyLeft')"
                  >
                    <i class="mdi mdi-format-align-left"></i>
                  </button>
                  <button
                    class="outline-none focus:outline-none border-r border-[#303030] w-10 h-10 hover:text-indigo-500 active:bg-gray-50"
                    @click="format('justifyCenter')"
                  >
                    <i class="mdi mdi-format-align-center"></i>
                  </button>
                  <button
                    class="outline-none focus:outline-none border-r border-[#303030] w-10 h-10 hover:text-indigo-500 active:bg-gray-50"
                    @click="format('justifyRight')"
                  >
                    <i class="mdi mdi-format-align-right"></i>
                  </button>
                </div>
                <div class="w-full">
                  <iframe
                    x-ref="wysiwyg"
                    class="w-full h-96 overflow-y-auto text-white"
                  ></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      // Get references to the button and dialog elements
      const openDialogBtn = document.getElementById("openDialogBtn");
      const dialog = document.getElementById("dialog");

      // Function to close the dialog
      const closeDialog = () => {
        dialog.classList.add("hidden");
      };

      // Add click event listener to the button to open the dialog
      openDialogBtn.addEventListener("click", () => {
        // Show the dialog
        dialog.classList.remove("hidden");

        // Add event listener to close the dialog when anywhere else is clicked
        document.addEventListener("click", (event) => {
          if (
            !dialog.contains(event.target) &&
            event.target !== openDialogBtn
          ) {
            closeDialog();
          }
        });

        // Add event listener to close the dialog when "Esc" key is pressed
        document.addEventListener("keydown", (event) => {
          if (event.key === "Escape") {
            closeDialog();
          }
        });
      });
    </script>
<script>
  const socket = io();

  // Join the workspace room
  socket.emit('join', '<%= workspaceName %>');

  // Function to update the collaborative space content
  function updateContent(content) {
      const wysiwyg = document.querySelector('iframe').contentWindow;
      wysiwyg.document.body.innerHTML = content;
  }

  // Listen for changes from other users
  socket.on('contentChange', (newContent) => {
      // Update the content of the collaborative space with the new content
      updateContent(newContent);
  });

  // Function to send content changes to the server
  function sendContentChanges() {
      const wysiwyg = document.querySelector('iframe').contentWindow;
      const content = wysiwyg.document.body.innerHTML;

      // Emit the content changes to the server
      socket.emit('contentChange', content);
  }

  // Function to initialize the collaborative space
  function init(el) {
      const wysiwyg = el;

      // Add CSS
      wysiwyg.contentDocument.querySelector("head").innerHTML += `
          <style>
              *, ::after, ::before { box-sizing: border-box; }
              :root { tab-size: 4; }
              html { line-height: 1.15; text-size-adjust: 100%; }
              body { margin: 0px; padding: 1rem 0.5rem; }
              body { font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; color: #fff; }
          </style>`;

      // Enable design mode after iframe is fully loaded
      wysiwyg.onload = function() {
          // Set initial content
          wysiwyg.document.body.innerHTML = `
              <h1>It was easy :)</h1>
              <p>Explore your collaborative workspace.</p>`;

          // Enable design mode
          wysiwyg.document.designMode = "on";

          // Listen for input events to detect content changes
          wysiwyg.document.addEventListener('input', sendContentChanges);
      };
  }

  // Initialize the collaborative space
  init(document.querySelector('iframe'));

</script>

    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
  </body>
</html>
