<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js"
      defer
    ></script>

    <style>
      @import url(https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.min.css);

      .active\:bg-gray-50:active {
        --tw-bg-opacity: 1;
        background-color: rgba(249, 250, 251, var(--tw-bg-opacity));
      }
    </style>
  </head>
  <body class="bg-[#202020]">
    <div class="main w-full flex items-center justify-center">
      <div
        class="relative w-96 z-20 h-full bg-[#202020] transition-all duration-200 overflow-hidden p-5 py-10"
      >
        <ul class="w-full h-full">
          <li
            class="relative w-4/5 list-none rounded-r-3xl rounded-l-3xl transition-all duration-200 pl-2 mb-2 hover:bg-[#1c1c1c]"
          >
            <a
              class="relative block w-full flex items-center text-decoration-none text-gray-400 font-bold"
              href="#"
            >
              <span
                class="w-16 h-16 flex items-center justify-center text-gray-400"
              >
                <ion-icon name="person-outline" class="text-2xl"></ion-icon>
              </span>
              <span class="ml-4"> <%= username %></span>
            </a>
          </li>

          <li
            class="relative w-4/5 list-none rounded-r-3xl rounded-l-3xl transition-all duration-200 pl-2 mb-2 hover:bg-[#1c1c1c]"
          >
            <a
              class="relative block w-full flex items-center text-decoration-none text-gray-400 font-bold"
              href="/get-started"
            >
              <span
                class="w-16 h-16 flex items-center justify-center text-gray-400"
              >
                <ion-icon name="power" class="text-2xl"></ion-icon>
              </span>
              <span class="ml-4">Get Started</span>
            </a>
          </li>
          <li
            class="relative w-4/5 list-none rounded-r-3xl rounded-l-3xl transition-all duration-200 pl-2 mb-2 hover:bg-[#1c1c1c]"
          >
            <a
              class="relative block w-full flex items-center text-decoration-none text-gray-400 font-bold"
              href="/home"
            >
              <span
                class="w-16 h-16 flex items-center justify-center text-gray-400"
              >
                <ion-icon name="home-outline" class="text-2xl"></ion-icon>
              </span>
              <span class="ml-4">Home</span>
            </a>
          </li>

          <li
            class="relative w-4/5 list-none rounded-r-3xl rounded-l-3xl transition-all duration-200 pl-2 mb-20 hover:bg-[#1c1c1c]"
          >
            <a
              class="relative block w-full flex items-center text-decoration-none text-gray-400 font-bold"
              href="#"
            >
              <span
                class="w-16 h-16 flex items-center justify-center text-gray-400"
              >
                <ion-icon name="people-outline" class="text-2xl"></ion-icon>
              </span>
              <span class="ml-4">Workspace</span>
            </a>
          </li>
          <span
            class="ml-4 text-center w-full relative block w-full flex items-center text-decoration-none text-gray-400 font-bold"
            >Your Workspaces.</span
          >
          <li
            class="relative w-4/5 list-none rounded-r-3xl rounded-l-3xl transition-all duration-200 pl-2 mb-2 hover:bg-[#1c1c1c]"
          ></li>
          <ul>
            <% workspace %>
            <li
              class="relative w-4/5 list-none rounded-r-3xl rounded-l-3xl transition-all duration-200 pl-2 mb-2 hover:bg-[#1c1c1c]"
            >
              <a
                class="relative block w-full flex items-center text-decoration-none text-gray-400 font-semibold"
                href="/workspace/<%= workspace.workspaceName %>/<%= username %>"
              >
                <span
                  class="w-16 h-16 flex items-center justify-center text-gray-400"
                >
                  <ion-icon name="document-outline" class="text-xl"></ion-icon>
                </span>
                <span class="ml-4"><%= workspace.workspaceName %></span>
              </a>
            </li>
            <% %>
          </ul>

          <li
            class="relative w-4/5 list-none rounded-r-3xl rounded-l-3xl transition-all duration-200 pl-2 mb-2 hover:bg-[#1c1c1c]"
          >
            <a
              class="relative block w-full flex items-center text-decoration-none text-gray-400 font-sembold"
              href="#"
            >
              <span
                class="w-16 h-16 flex items-center justify-center text-gray-400"
              >
                <ion-icon name="settings-outline" class="text-xl"></ion-icon>
              </span>
              <span class="ml-4">Settings</span>
            </a>
          </li>
        </ul>
      </div>
      <div
        class="content relative z-10 w-full h-screen bg-[#191919] flex flex-col items-center justify-center"
      >
        <div
          class="relative p-4 py-20 flex flex-col items-center justify-center w-full"
        >
          <h1 class="mt-20 text-4xl md:text-5xl font-bold text-[#d3d3d3] mb-6">
            <%= workspaceName %>
          </h1>
          <div id="messages"></div>

          <div>
            <button
              id="openDialogBtn"
              class="relative z-40 bg-[#2a2a2a] hover:bg-[#1c1c1c] text-[#d3d3d3] font-semibold py-3 px-6 rounded-full transition-colors duration-300"
            >
              Invite Users
            </button>
            <div
              id="dialog"
              class="dialog hidden w-96 h-screen rounded-3xl absolute top-12 -right-[15%] bg-[#2f2f2f] -translate-x-1/2 z-50"
            >
              <div class="dialog-content p-8 shadow-lg">
                <h1 class="text-4xl md:text-2xl font-bold text-[#d3d3d3] mb-6">
                  Invite members
                </h1>
                <form
                  id="inviteForm"
                  action="/workspace/<%= workspaceName %>/<%= username %>"
                  method="POST"
                >
                  <label
                    class="m-5 text-sm md:text-md font-bold text-[#d3d3d3] mb-6"
                    for="invitemem"
                    >Enter email of user to invite</label
                  >
                  <input
                    required
                    class="w-full p-2 mb-4 border border-[#141414] rounded bg-[#2c2c2c] text-white"
                    type="email"
                    name="email"
                    placeholder="email@xyz.com"
                  />
                  <button
                    class="relative z-40 bg-[#2a2a2a] hover:bg-[#0f0f0f] text-[#d3d3d3] font-semibold py-3 px-6 rounded-full transition-colors duration-300"
                    type="submit"
                    name="submit"
                  >
                    Invite
                  </button>
                </form>
              </div>
              <h1
                class="text-center m-5 text-4xl md:text-2xl font-bold text-[#d3d3d3] mb-6"
              >
                Exisiting members
              </h1>

              <% if (workspace.inviteMembers && workspace.inviteMembers.length >
              0) { %>
              <h2>Invited Members:</h2>
              <ul>
                <% workspace.inviteMembers.forEach(function(member) { %>
                <li><%= member %></li>
                <% }); %>
              </ul>
              <% } else { %>
              <p>No members have been invited yet.</p>
              <% } %>
            </div>
          </div>
          <div class="w-full h-fit flex items-center justify-center">
            <div id="messages"></div>
            <div
              class="w-full max-w-screen h-fit mx-auto rounded-xl bg-[#171717] shadow-lg p-5 text-white"
              x-data="app()"
              x-init="init($refs.wysiwyg)"
            >
            
              <div class="border border-[#3c3c3c] overflow-hidden rounded-md">
                
                <div
                  class="w-full flex border-b border-[#202020] text-xl text-gray-600"
                >
                  <button
                    class="outline-none focus:outline-none border-r border-[#202020] w-10 h-10 hover:text-indigo-500 active:bg-gray-50"
                    @click="format('bold')"
                  >
                    <i class="mdi mdi-format-bold"></i>
                  </button>
                  <button
                    class="outline-none focus:outline-none border-r border-[#303030] w-10 h-10 hover:text-indigo-500 active:bg-gray-50"
                    @click="format('italic')"
                  >
                    <i class="mdi mdi-format-italic"></i>
                  </button>
                  <button
                    class="outline-none focus:outline-none border-r border-[#303030] w-10 h-10 mr-1 hover:text-indigo-500 active:bg-gray-50"
                    @click="format('underline')"
                  >
                    <i class="mdi mdi-format-underline"></i>
                  </button>
                  <button
                    class="outline-none focus:outline-none border-l border-r border-[#303030] w-10 h-10 hover:text-indigo-500 active:bg-gray-50"
                    @click="format('formatBlock','P')"
                  >
                    <i class="mdi mdi-format-paragraph"></i>
                  </button>
                  <button
                    class="outline-none focus:outline-none border-r border-[#303030] w-10 h-10 hover:text-indigo-500 active:bg-gray-50"
                    @click="format('formatBlock','H1')"
                  >
                    <i class="mdi mdi-format-header-1"></i>
                  </button>
                  <button
                    class="outline-none focus:outline-none border-r border-[#303030] w-10 h-10 hover:text-indigo-500 active:bg-gray-50"
                    @click="format('formatBlock','H2')"
                  >
                    <i class="mdi mdi-format-header-2"></i>
                  </button>
                  <button
                    class="outline-none focus:outline-none border-r border-[#303030] w-10 h-10 mr-1 hover:text-indigo-500 active:bg-gray-50"
                    @click="format('formatBlock','H3')"
                  >
                    <i class="mdi mdi-format-header-3"></i>
                  </button>
                  <button
                    class="outline-none focus:outline-none border-l border-r border-[#303030] w-10 h-10 hover:text-indigo-500 active:bg-gray-50"
                    @click="format('insertUnorderedList')"
                  >
                    <i class="mdi mdi-format-list-bulleted"></i>
                  </button>
                  <button
                    class="outline-none focus:outline-none border-r border-[#303030] w-10 h-10 mr-1 hover:text-indigo-500 active:bg-gray-50"
                    @click="format('insertOrderedList')"
                  >
                    <i class="mdi mdi-format-list-numbered"></i>
                  </button>
                  <button
                    class="outline-none focus:outline-none border-l border-r border-[#303030] w-10 h-10 hover:text-indigo-500 active:bg-gray-50"
                    @click="format('justifyLeft')"
                  >
                    <i class="mdi mdi-format-align-left"></i>
                  </button>
                  <button
                    class="outline-none focus:outline-none border-r border-[#303030] w-10 h-10 hover:text-indigo-500 active:bg-gray-50"
                    @click="format('justifyCenter')"
                  >
                    <i class="mdi mdi-format-align-center"></i>
                  </button>
                  <button
                    class="outline-none focus:outline-none border-r border-[#303030] w-10 h-10 hover:text-indigo-500 active:bg-gray-50"
                    @click="format('justifyRight')"
                  >
                    <i class="mdi mdi-format-align-right"></i>
                  </button>
                </div>
                <div class="w-full">
                  <section> <p><%= content ? content.content : "write here" %></p></section>
                  <iframe
                    x-ref="wysiwyg"
                    class="w-full h-96 overflow-y-auto text-white"
                  ></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
    
      const openDialogBtn = document.getElementById("openDialogBtn");
      const dialog = document.getElementById("dialog");

      const closeDialog = () => {
        dialog.classList.add("hidden");
      };

    
      openDialogBtn.addEventListener("click", () => {
        
        dialog.classList.remove("hidden");

        // Add event listener to close the dialog when anywhere else is clicked
        document.addEventListener("click", (event) => {
          if (
            !dialog.contains(event.target) &&
            event.target !== openDialogBtn
          ) {
            closeDialog();
          }
        });

        // Add event listener to close the dialog when "Esc" key is pressed
        document.addEventListener("keydown", (event) => {
          if (event.key === "Escape") {
            closeDialog();
          }
        });
      });
    </script>

    <script src="https://cdn.socket.io/4.1.2/socket.io.min.js"></script>
    <script>
      const socket = io();
    
      function app(workspaceName, username) {
        let saving = false;
        let timeoutId;
        let changesPending = false;
    
        return {
          wysiwyg: null,
    
          init: async function (el) {
            // Get element
            this.wysiwyg = el;
    
            // Add CSS to the iframe
            this.wysiwyg.contentDocument.querySelector("head").innerHTML += `
              <style>
                *, ::after, ::before { box-sizing: border-box; }
                :root { tab-size: 4; }
                html { line-height: 1.15; text-size-adjust: 100%; }
                body { margin: 0; padding: 1rem 0.5rem; }
                body { font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; color: #fff; }
              </style>
            `;
    
            // Fetch initial content
            try {
              const response = await fetch(`/workspace/${workspaceName}/${username}`);
              if (!response.ok) throw new Error("Failed to fetch content from database");
              const content = await response.text();
              this.wysiwyg.contentDocument.body.innerHTML = content;
            } catch (error) {
              console.error("Error fetching content:", error);
            }
    
            this.wysiwyg.contentDocument.designMode = "on";
    
            // Add event listener for input changes
            this.wysiwyg.contentDocument.body.addEventListener('input', () => {
              clearTimeout(timeoutId);
              changesPending = true;
    
              timeoutId = setTimeout(() => {
                const content = this.wysiwyg.contentDocument.body.innerHTML;
                socket.emit("textUpdate", content);
    
                if (!saving) {
                  saving = true;
                  changesPending = false;
                  const workspaceName = "<%= workspaceName %>";
                  this.saveContentToDatabase(workspaceName, content)
                    .then(() => {
                      saving = false;
                      if (changesPending) {
                        this.handleInput();
                      }
                    })
                    .catch((error) => {
                      console.error("Error saving content:", error);
                      saving = false;
                    });
                }
              }, 500);
            });
    
            
            socket.on("textUpdate", (text) => {
              this.wysiwyg.contentDocument.body.innerHTML = text;
            });
    
            socket.on("message", (message) => {
              const messageElement = document.createElement("div");
              messageElement.textContent = message;
              document.getElementById("messages").appendChild(messageElement);
            });
          },
    
          handleInput: function () {
            const event = new Event('input');
            this.wysiwyg.contentDocument.body.dispatchEvent(event);
          },
    
          format: function (cmd, param) {
            this.wysiwyg.contentDocument.execCommand(cmd, false, param || null);
          },
    
          saveContentToDatabase: async function (workspaceName, content) {
            console.log("workspaceName:", workspaceName);
            console.log("Content:", content);
            try {
              const response = await fetch(`/save`, {
                method: "POST",
                headers: {
                  "Content-Type": "application/json",
                },
                body: JSON.stringify({ workspaceName, content }),
              });
    
              if (!response.ok) {
                throw new Error("Failed to save content to database");
              }
            } catch (error) {
              console.error("Error saving content to database:", error);
            }
          },
        };
      }

    </script> 
  <script>
  const workspaceName = "<%= workspaceName %>";
    const username = "<%= username %>";
    const socketApp = app(workspaceName, username);
    
    socketApp.init(document.getElementById("editor"));
    
    socket.on("contentUpdate", ({ changes }) => {
      socketApp.mergeContentChanges(changes);
    });</script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
  </body>
</html>
